<head>
  <link href="css/style.css" rel="stylesheet" />
</head>
<body>
  <h1 class="background">This is our <%=title%></h1>
  <h3>City -<%=output.name%></h3>
  <h3>Temp -<%=output.main.temp%>°C</h3>
</body>
